In [1]:
import pandas as pd

df = pd.read_csv(
    '/Users/benedikt/Documents/code/data-science-g5/woche1/airbnb/data/raw/Airbnb_Open_Data.csv')

/var/folders/t5/m580657s5rxblthmnv5y6vfm0000gn/T/ipykernel_53032/1238865731.py:3: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(

**Missing Values/ Invalid Values**
- Potenziell ung√ºltige Werte 
    - minimum nights - negative Werte
    - availability 365 - negative Werte
- Spalte Licence ist praktisch leer (und nur 2 unique values)

**Spaltentyp & Formatierung**
- Preise sind als String gespeichert
- Preise haben ein $ vor der Zahl
- Preise haben "," als Tausender-Trennzeichen
- Viele Spalten haben den Typ "Object"


**Redundante oder nicht sinnvolle Spalten**
- Unbedeutende Spalten dabei

**Duplicates**
- Doppelte Werte

## Missing Values

In [2]:
df.describe()

,id,host id,lat,long,Construction year,minimum nights,number of reviews,reviews per month,review rate number,calculated host listings count,availability 365
count,1.025990e+05,1.025990e+05,102591.000000,102591.000000,102385.000000,102190.000000,102416.000000,86720.000000,102273.000000,102280.000000,102151.000000
mean,2.914623e+07,4.925411e+10,40.728094,-73.949644,2012.487464,8.135845,27.483743,1.374022,3.279106,7.936605,141.133254
std,1.625751e+07,2.853900e+10,0.055857,0.049521,5.765556,30.553781,49.508954,1.746621,1.284657,32.218780,135.435024
min,1.001254e+06,1.236005e+08,40.499790,-74.249840,2003.000000,-1223.000000,0.000000,0.010000,1.000000,1.000000,-10.000000
25%,1.508581e+07,2.458333e+10,40.688740,-73.982580,2007.000000,2.000000,1.000000,0.220000,2.000000,1.000000,3.000000
50%,2.913660e+07,4.911774e+10,40.722290,-73.954440,2012.000000,3.000000,7.000000,0.740000,3.000000,1.000000,96.000000
75%,4.320120e+07,7.399650e+10,40.762760,-73.932350,2017.000000,5.000000,30.000000,2.000000,4.000000,2.000000,269.000000
max,5.736742e+07,9.876313e+10,40.916970,-73.705220,2022.000000,5645.000000,1024.000000,90.000000,5.000000,332.000000,3677.000000

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102599 entries, 0 to 102598
Data columns (total 26 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              102599 non-null  int64
 1   NAME                            102349 non-null  object
 2   host id                         102599 non-null  int64
 3   host_identity_verified          102310 non-null  object
 4   host name                       102193 non-null  object
 5   neighbourhood group             102570 non-null  object
 6   neighbourhood                   102583 non-null  object
 7   lat                             102591 non-null  float64
 8   long                            102591 non-null  float64
 9   country                         102067 non-null  object
 10  country code                    102468 non-null  object
 11  instant_bookable                102494 non-null  object
 12  cancellation_policy             102523 non-null  object
 13  room type                       102599 non-null  object
 14  Construction year               102385 non-null  float64
 15  price                           102352 non-null  object
 16  service fee                     102326 non-null  object
 17  minimum nights                  102190 non-null  float64
 18  number of reviews               102416 non-null  float64
 19  last review                     86706 non-null   object
 20  reviews per month               86720 non-null   float64
 21  review rate number              102273 non-null  float64
 22  calculated host listings count  102280 non-null  float64
 23  availability 365                102151 non-null  float64
 24  house_rules                     50468 non-null   object
 25  license                         2 non-null       object
dtypes: float64(9), int64(2), object(15)
memory usage: 20.4+ MB

In [4]:
df.isna().sum()

id                                     0
NAME                                 250
host id                                0
host_identity_verified               289
host name                            406
neighbourhood group                   29
neighbourhood                         16
lat                                    8
long                                   8
country                              532
country code                         131
instant_bookable                     105
cancellation_policy                   76
room type                              0
Construction year                    214
price                                247
service fee                          273
minimum nights                       409
number of reviews                    183
last review                        15893
reviews per month                  15879
review rate number                   326
calculated host listings count       319
availability 365                     448
house_rules                        52131
license                           102597
dtype: int64

In [2]:
(df.isna().sum() / df.shape[0]) * 100

id                                 0.000000
NAME                               0.243667
host id                            0.000000
host_identity_verified             0.281679
host name                          0.395715
neighbourhood group                0.028265
neighbourhood                      0.015595
lat                                0.007797
long                               0.007797
country                            0.518524
country code                       0.127682
instant_bookable                   0.102340
cancellation_policy                0.074075
room type                          0.000000
Construction year                  0.208579
price                              0.240743
service fee                        0.266084
minimum nights                     0.398639
number of reviews                  0.178364
last review                       15.490404
reviews per month                 15.476759
review rate number                 0.317742
calculated host listings count     0.310919
availability 365                   0.436651
house_rules                       50.810437
license                           99.998051
dtype: float64

Ideen:
-> Komplette Duplikate l√∂schen

id                                 0.000000 -> Nichts zu tun
NAME                               0.243667 -> Wenn nicht gegeben, Zeile entfernen
host id                            0.000000 -> Nichts zu tun
host_identity_verified             0.281679 -> Zeilen entfernen oder durch "Unbekannt ersetzen"/ NA lassen
host name                          0.395715 -> Ignorieren oder durch "Unbekannt"/ NA ersetzen
neighbourhood group                0.028265 -> Ignorieren
neighbourhood                      0.015595 -> Ignorieren
lat                                0.007797 -> Auf Duplikate pr√ºfen oder entfernen (Zeilen)
long                               0.007797 -> Auf Duplikate pr√ºfen oder entfernen (Zeilen)
country                            0.518524 -> Irrelevant
country code                       0.127682 -> Irrelevant
instant_bookable                   0.102340 -> 
cancellation_policy                0.074075 -> Ignorieren
room type                          0.000000 -> Nichts zu tun
Construction year                  0.208579 -> Als Int behandeln, Imputation, Jahr aufgrund von lat/ long sch√§tzen
price                              0.240743 -> Sch√§tzen oder durch Modell bestimmen (Lineare Regression)
service fee                        0.266084 -> Wie vorheriges
minimum nights                     0.398639 -> ihr seid drann
number of reviews                  0.178364
last review                       15.490404
reviews per month                 15.476759
review rate number                 0.317742
calculated host listings count     0.310919
availability 365                   0.436651
house_rules                       50.810437
license                           99.998051

In [4]:
df.shape

(102599, 26)

In [7]:
df.drop_duplicates(subset=["lat", "long", "NAME", "id"]).shape

(102058, 26)

**Was k√∂nnen wir mit fehlenden Werten Machen?**
- L√∂schen
  - Zeile oder Spalte
  - Kann zu Verzerrungen f√ºhren -> Pr√ºfen, ob die Zeilen mit NA Spezialf√§lle sind

In [6]:
df.dropna(subset=["license"])

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
11114,7139598,"Cozy 1 BR on Bedford Avenue, Wburg",73023181304,verified,Christina,Brooklyn,Williamsburg,40.71764,-73.95689,United States,...,$140,1.0,1.0,1/3/2016,0.02,1.0,1.0,191.0,"Dear Guest, Thank you for appreciating that I ...",41662/AL
72947,41289964,"Cozy 1 BR on Bedford Avenue, Wburg",25804773951,unconfirmed,Christina,Brooklyn,Williamsburg,40.71764,-73.95689,United States,...,$140,1.0,1.0,1/3/2016,0.02,1.0,1.0,0.0,NaN,41662/AL

In [7]:
# Die Spalte license hat keine Aussagekraft, da es nur eine einzige Lizent gibt (bzw. weniger als 1 % der Daten haben eine Lizenz)
# Wir k√∂nnten diese Spalte also l√∂schen

df = df.drop(columns=['license'], axis=1)

In [8]:
df[df["NAME"] == "Cozy 1 BR on Bedford Avenue, Wburg"]

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,price,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules
11114,7139598,"Cozy 1 BR on Bedford Avenue, Wburg",73023181304,verified,Christina,Brooklyn,Williamsburg,40.71764,-73.95689,United States,...,$702,$140,1.0,1.0,1/3/2016,0.02,1.0,1.0,191.0,"Dear Guest, Thank you for appreciating that I ..."
72947,41289964,"Cozy 1 BR on Bedford Avenue, Wburg",25804773951,unconfirmed,Christina,Brooklyn,Williamsburg,40.71764,-73.95689,United States,...,$702,$140,1.0,1.0,1/3/2016,0.02,1.0,1.0,0.0,NaN

In [9]:
df[df["host name"] == "Christina"]

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,price,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules
1263,1698891,"Entire loft, best Williamsburg",4038119569,unconfirmed,Christina,Brooklyn,Williamsburg,40.71872,-73.96042,United States,...,$660,$132,4.0,33.0,4/7/2019,0.44,2.0,2.0,27.0,Thank you for your reservation. By placing you...
1451,1802723,Studio With Old-World Character,44081645626,unconfirmed,Christina,Brooklyn,Crown Heights,40.67189,-73.93499,United States,...,$92,$18,7.0,2.0,8/25/2015,0.03,5.0,1.0,287.0,No smoking. No parties. Please be considerate ...
2006,2109250,"Free Metrocard*, Safe & Affordable",16777949923,unconfirmed,Christina,Queens,Flushing,40.75088,-73.81029,United States,...,$253,$51,1.0,116.0,6/14/2019,1.51,2.0,2.0,374.0,#NAME?
2007,2109802,"Private Suite, Free Metrocard*",69900932774,unconfirmed,Christina,Queens,Flushing,40.75250,-73.81126,United States,...,$933,$187,1.0,313.0,7/5/2019,4.09,2.0,2.0,56.0,NaN
3327,2838838,"Williamsburg, prime loction, Brooklyn private ...",5677864921,verified,Christina,Brooklyn,Williamsburg,40.71971,-73.95998,United States,...,"$1,067",$213,3.0,176.0,6/21/2019,2.63,5.0,1.0,307.0,Please take off your shoes at the front door. ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101373,56989644,"Great 1 BR- Q train, Museum Mile and Central P...",59039355401,verified,Christina,Manhattan,Upper East Side,40.76868,-73.95744,United States,...,$448,$90,5.0,22.0,7/2/2019,1.27,3.0,1.0,7.0,NaN
101831,57242597,Cozy Room in Manhattan,1436996918,verified,Christina,Manhattan,Harlem,40.82827,-73.94785,United States,...,$481,$96,1.0,17.0,10/8/2018,1.11,1.0,1.0,0.0,#NAME?
102141,35552672,Cozy Fully Furnished,87897792397,unconfirmed,Christina,Brooklyn,Prospect-Lefferts Gardens,40.65932,-73.95974,United States,...,$303,$61,30.0,11.0,11/8/2021,0.36,3.0,1.0,300.0,NaN
102348,20341777,Christina‚Äôs home,89461531863,verified,Christina,Bronx,Bronxdale,40.85460,-73.86785,United States,...,$124,$25,1.0,24.0,6/27/2019,2.24,4.0,1.0,163.0,"For non-smokers only, quiet, respectful, persons."
102554,6070345,Beautiful Private Room,47602000155,verified,Christina,Brooklyn,East New York,40.67240,-73.88118,United States,...,$533,$107,20.0,29.0,3/30/2019,0.59,4.0,3.0,309.0,No pets. No smoking. Please :)

In [10]:
print(df.drop_duplicates(subset='id').shape)
print(df.drop_duplicates(subset='NAME').shape)

(102058, 25)
(61282, 25)

In [11]:
print(df.drop_duplicates(subset='id').shape)
print(df.drop_duplicates(subset=['NAME', 'lat', 'long', 'host name']).shape)

(102058, 25)
(67747, 25)

In [12]:
print(df.drop_duplicates(subset=['NAME', 'lat', 'long', 'host name']))

              id                                               NAME  \
0        1001254                 Clean & quiet apt home by the park
1        1002102                              Skylit Midtown Castle
2        1002403                THE VILLAGE OF HARLEM....NEW YORK !
3        1002755                                                NaN
4        1003689   Entire Apt: Spacious Studio/Loft by central park
...          ...                                                ...
102045  57360790        Private Bedroom in Rego Park / Forest Hills
102046  57361342             Sunny budget friendly room in Bushwick
102047  57361894            Cozy Apartment on Bedford Ave, Brooklyn
102048  57362446                Your 1 bedroom home away from home!
102049  57362999  MASTER Cozy Bedroom Queen size 2 blocks Timesq...

            host id host_identity_verified host name neighbourhood group  \
0       80014485718            unconfirmed  Madaline            Brooklyn
1       52335172823               verified     Jenna           Manhattan
2       78829239556                    NaN     Elise           Manhattan
3       85098326012            unconfirmed     Garry            Brooklyn
4       92037596077               verified    Lyndon           Manhattan
...             ...                    ...       ...                 ...
102045  15978912806            unconfirmed       NaN              Queens
102046  29964876857               verified       NaN            Brooklyn
102047  92852058426            unconfirmed       NaN            Brooklyn
102048  95572379802               verified       NaN           Manhattan
102049  80154173698               verified       NaN           Manhattan

          neighbourhood       lat      long        country  ...  price  \
0            Kensington  40.64749 -73.97237  United States  ...  $966
1               Midtown  40.75362 -73.98377  United States  ...  $142
2                Harlem  40.80902 -73.94190  United States  ...  $620
3          Clinton Hill  40.68514 -73.95976  United States  ...  $368
4           East Harlem  40.79851 -73.94399  United States  ...  $204
...                 ...       ...       ...            ...  ...    ...
102045        Rego Park  40.72460 -73.85688  United States  ...    NaN
102046         Bushwick  40.69370 -73.91006  United States  ...    NaN
102047     Williamsburg  40.71284 -73.96284  United States  ...    NaN
102048  Upper West Side  40.79563 -73.97634  United States  ...    NaN
102049   Hell's Kitchen  40.76125 -73.98945  United States  ...    NaN

       service fee minimum nights number of reviews  last review  \
0            $193            10.0               9.0   10/19/2021
1             $28            30.0              45.0    5/21/2022
2            $124             3.0               0.0          NaN
3             $74            30.0             270.0     7/5/2019
4             $41            10.0               9.0   11/19/2018
...            ...            ...               ...          ...
102045         NaN            1.0               0.0          NaN
102046         NaN            5.0               3.0     4/9/2018
102047         NaN            7.0              15.0     1/1/2018
102048         NaN            3.0              38.0    6/10/2019
102049         NaN            1.0              81.0     3/5/2019

       reviews per month review rate number  calculated host listings count  \
0                   0.21                4.0                             6.0
1                   0.38                4.0                             2.0
2                    NaN                5.0                             1.0
3                   4.64                4.0                             1.0
4                   0.10                3.0                             1.0
...                  ...                ...                             ...
102045               NaN                3.0                             1.0
102046              0.11                1.0                             1.0
102047              0.55                4.0                             1.0
102048              1.40                3.0                             1.0
102049              2.96                2.0                             2.0

        availability 365                                        house_rules
0                  286.0  Clean up and treat the home the way you'd like...
1                  228.0  Pet friendly but please confirm with me if the...
2                  352.0  I encourage you to use my kitchen, cooking and...
3                  322.0                                                NaN
4                  289.0  Please no smoking in the house, porch or on th...
...                  ...                                                ...
102045               0.0                                                NaN
102046               0.0  Please be mindful that I live in the same buil...
102047               0.0                                                NaN
102048              31.0                                                NaN
102049               0.0  - I work at home and prefer to rent to folks w...

[67747 rows x 25 columns]

In [ ]:
# Hypothese: Die NAs sind gro√üteils werte, die durch doppelte accounts zustande kommen
identify_na = df[df["host_identity_verified"].isna()][["NAME", "host name"]]
identify_not_na = df.dropna(subset=["host_identity_verified"])

identify_na.shape

(289, 2)

In [12]:
duplucated_host_identies = identify_not_na.merge(identify_na, on=["NAME", "host name"], how="inner")
duplucated_host_identies.head()

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,2624546,SAFE BUDGET IN Brooklyn NYC,59058469007,unconfirmed,Majar,Brooklyn,East New York,40.66874,-73.88548,United States,...,$148,3.0,34.0,4/6/2019,0.49,1.0,8.0,184.0,NaN,NaN
1,2625098,CHARM Rm HAMILTON HEIGHTS Harlem,16265048066,verified,Shane,Manhattan,Harlem,40.81976,-73.94029,United States,...,$210,3.0,101.0,6/10/2019,1.44,1.0,1.0,330.0,NO PETS! NO SMOKING ON PREMISES! NO PARTY! A...,NaN
2,2625650,"Modern, Light-Filled Apt in Chelsea/Meatpacking",95051956475,unconfirmed,Clay,Manhattan,Chelsea,40.74072,-74.00438,United States,...,$100,7.0,11.0,6/22/2019,1.17,2.0,1.0,371.0,"Respect yourself, respect others, clean up aft...",NaN
3,2626203,The Top-Notch Top-Floor,20939120847,verified,Stephen,Brooklyn,Greenpoint,40.73370,-73.95427,United States,...,$30,1.0,0.0,NaN,NaN,1.0,1.0,137.0,NaN,NaN
4,2626755,BROOKLYN FAVORITE VACATION HOME 2,90154950485,unconfirmed,Mr. Williams,Brooklyn,Park Slope,40.68242,-73.97904,United States,...,$183,3.0,59.0,5/23/2019,0.84,1.0,1.0,384.0,Respect yourself respect others please clean u...,NaN

In [13]:
# Einfachster Umgang mit diesem Wert: Ersetze NA durch "unknown"
# Was machen wir: Werte, die nicht doppelt sind, durch "unknown" ersetzen

df[(df["host_identity_verified"].isna()) &
   (df[["NAME", "host name"]].isin(
       duplucated_host_identies[["NAME", "host name"]]))
   ]

:

In [14]:
pd.set_option('display.max_rows', 100)


df[df['NAME'].isin(df[df['host_identity_verified'].isna()]
                   ['NAME'].tolist())].sort_values(['NAME', 'lat', 'long'])

# 1. nur host_identity_verified die NaN sind
# 2. gib nur den Namen zur√ºck
# 3. Betrachte diese im gesamtdataframe
# 4. Sortiere nach dame
# Name sollte nun doppelt da sein, wenn der Host 2 Accounts haben k√∂nnte

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,price,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules
287,1159846,**Fantastic Williamsburg Apt**,98480978167,NaN,Baker,NaN,Williamsburg,40.71031,-73.95830,United States,...,$387,$77,NaN,9.0,2/16/2019,0.11,4.0,1.0,323.0,Maximum of 2 guests staying in the studio. No...
27399,16133804,*Beautiful 2BR*Flatiron*Best Location*Near Sub...,81701629571,NaN,Muni,Manhattan,Midtown,40.74172,-73.98343,United States,...,$51,$10,4.0,63.0,5/25/2019,3.17,5.0,1.0,238.0,NaN
467,1259260,"*SoHo: Clean, Safe, Private, Peaceful Bedroom ...",58284792631,NaN,Stella,Manhattan,SoHo,40.72351,-73.99683,United States,...,$817,$163,2.0,54.0,6/16/2019,0.56,1.0,1.0,70.0,Please be mindful that I live in the same buil...
8430,5657225,1 bedroom apt in pvt 2 fam house,1864686359,NaN,Debra,Brooklyn,Crown Heights,40.67255,-73.93328,United States,...,$335,$67,1.0,24.0,6/22/2019,0.51,2.0,1.0,24.0,‚Ä¢ Check-in time is 3PM.
57517,32767975,1-Bdrm Newly Renovated Spacious Apartment,64217290384,verified,Nick,Staten Island,Great Kills,40.56071,-74.14591,United States,...,$847,$169,14.0,77.0,1/10/2022,1.38,2.0,1.0,103.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85894,48440592,NaN,39843366779,unconfirmed,Andrea,Bronx,Fordham,40.86032,-73.88493,United States,...,"$1,030",$206,1.0,0.0,NaN,NaN,2.0,1.0,286.0,*** It is a residential building with very nic...
91996,51810727,NaN,31116694016,verified,Julia,Bronx,Pelham Gardens,40.86437,-73.84850,United States,...,$148,$30,2.0,40.0,4/16/2019,1.58,2.0,2.0,339.0,NaN
65867,37379680,NaN,64406215333,verified,Tanya,Bronx,Norwood,40.87553,-73.88601,United States,...,$72,$14,3.0,24.0,3/25/2021,0.44,5.0,1.0,0.0,NaN
99879,56164508,NaN,43313998021,unconfirmed,Rony,Bronx,Kingsbridge,40.88297,-73.90727,United States,...,$148,$30,3.0,54.0,6/24/2019,1.68,3.0,2.0,278.0,#NAME?
59499,33862634,NaN,33512606255,verified,Andrea,Bronx,Wakefield,40.88332,-73.85018,United States,...,$870,$174,3.0,7.0,1/1/2022,0.41,4.0,1.0,179.0,NaN