In [1]:
import pandas as pd

In [2]:
df =pd.read_csv("data/gebrauchtwagen.csv")
df.head()

,IsBadBuy,PurchDate,Auction,VehYear,VehicleAge,Make,Model,Trim,SubModel,Color,...,MMRCurrentRetailAveragePrice,MMRCurrentRetailCleanPrice,PRIMEUNIT,AUCGUART,BYRNO,VNZIP1,VNST,VehBCost,IsOnlineSale,WarrantyCost
0,0,1257897600,OTHER,2007,2,KIA,SPECTRA,NaN,4D SEDAN EX,BLACK,...,9568.0,10428.0,NaN,NaN,5546,35004,AL,6400.0,0,462
1,0,1231286400,ADESA,2005,4,SUZUKI,FORENZA 2.0L I4 EFI,EX,4D WAGON,SILVER,...,5227.0,5978.0,NaN,NaN,20207,77086,TX,3870.0,0,569
2,1,1288656000,OTHER,2006,4,CHEVROLET,COBALT,LT,2D COUPE LT,RED,...,8235.0,9230.0,NaN,NaN,1235,84104,UT,5310.0,1,803
3,0,1236124800,MANHEIM,2004,5,CHEVROLET,VENTURE FWD V6 3.4L,LS,PASSENGER 3.4L,SILVER,...,4325.0,5325.0,NaN,NaN,20928,32824,FL,4600.0,0,4622
4,0,1248307200,MANHEIM,2007,2,CHRYSLER,TOWN & COUNTRY 2WD V,Bas,MINIVAN 3.3L,RED,...,0.0,0.0,NaN,NaN,835,85353,AZ,6215.0,0,1623

In [6]:
df["Model"].value_counts()

Model
PT CRUISER              2105
IMPALA                  1807
TAURUS                  1278
CALIBER                 1231
CARAVAN GRAND FWD V6    1170
                        ...
OPTIMA                     1
SIERRA 1500                1
ASCENDER 2WD V8 5.3L       1
626 V6                     1
F250 PICKUP 2WD V8 5       1
Name: count, Length: 1029, dtype: int64